.spi-logo{
	margin: auto;
}
.bi {
	vertical-align: -.125em;
	width: 1em;
	height: 1em;
}
.sidebar-title {
	font-size: 0.75rem !important;
	opacity: 0.66;
}
.warning-banner {
	color: #dc3545;
	margin: 0.25rem;
	border-radius: 8px;
	padding: 0.66rem;
	background-color: rgba(125, 0, 0, 0.08);
}
.warning-banner-sm {
	font-size: 13px;
	color: #dc3545;
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(155, 0, 0, 0.08);
}
.info-banner {
	color: #de940c;
	margin: 0.25rem;
	border-radius: 8px;
	padding: 0.66rem;
	background-color: rgba(85, 85, 0, 0.08);
}
.info-banner-sm {
	font-size: 13px;
	color: #de940c;
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(155, 155, 0, 0.08);
}
.success-banner {
	color: #198754;
	margin: 0.25rem;
	border-radius: 8px;
	padding: 0.66rem;
	background-color: rgba(25, 85, 25, 0.08);
}
.success-banner-sm {
	font-size: 13px;
	color: #198754;
	margin: 0.08rem;
	border-radius: 8px;
	padding: 0.15rem;
	background-color: rgba(55, 155, 55, 0.08);
}
.disabled-hover {
	cursor: disabled;
}
.border-blue {
	border: 2px solid #607080;
}
.btn-sm-primary {
	border: 1px solid var(--bs-primary);
	background-color: transparent;
	color: var(--bs-primary);
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;
}
.btn-sm-primary:hover {
	border: 1px solid var(--bs-green);
	background-color: transparent;
	color: var(--bs-green);
}
.cursor-pointer:hover {
	cursor: pointer;
}
.input-label {
	font-size: 12px;
}
.choose-employee {
	font-size: 18px;
	margin-top: 0.35em;
	padding: 0.5em;
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.choose-employee span {
	margin-left: 0.75em;
}
.choose-employee:hover {
	cursor: pointer;
	padding-left: 0.65em;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.08);
	transition: 0.05s;
}